<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View</title>
        <style type="text/css">
            body {
                font-family: Arial, sans-serif;
                font-size: 16px;
                color: #444444;
            }
            .container {
                margin: 0 auto;
                width: 100%;
                max-width: 900px;

            }
        </style>
</head>
<body>
<div class="container">
    <h1>Delete ask</h1>

    <form action="" method="post">

        {% csrf_token %}
        <label>Description:</label><br/>
        <label>
            <input type="text" name="description"/>
        </label><br/>
    <input type="submit" value="Send"/>
    <p><a href="/">На главную</a></p>
    </form>
</div>


</body>
</html>